.list-group-item {
    display: flex;
}

.overview-cell-status {
    text-align: center;
}

.interaction-menu {
    margin-top: 25px;
}

.verticals {
    display: flex;
}

.form-group {
    width: 45%;
    margin-right: 5%;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
}


.error-page-header {
    text-align: center;
}

#notfound {
    position: relative;
    height: 100vh;
    background: #f6f6f6;
}


#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 25px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
}

.notfound .notfound-404 h1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 165px;
    font-weight: 700;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
}

.notfound-logo-container {
    text-align: center;
    width: 100%;
}

.notfound-container {
    width: 100%;
}

.notfound-back-button {
    border-radius: 15px;
    padding: 10px 50px;
    background-color: #00b7ff;
    border: 1px solid lightgrey;

    color: white;
//font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.notfound-back-button:hover {
    border-color: #0b3f5a;
    background-color: red;
    color: white;
}

.notfound .notfound-404 h1>span {
    color: #00b7ff;
}

.notfound-404-title {
    color: #262626;
}

.btn-primary {
    margin-top: 10px;
}